:root {
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
    --red-primary: hsl(0, 100%, 68%);

    --h1-fz: 1.7em;
    --body-text-fs: 1em;  
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: 'Barlow, Barlow Condensed', sans-serif;
    font-size: 16px;
    list-style: none;
}

h1 {
    font-size: var(--h1-fz);
    margin: 0.5em 0;
}

p {
    color: var(--very-dark-blue);
    margin: 0.5em 0;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
    font-size: var(--body-text-fs);
}

ul{
    width: 80%;
    margin: auto;
}
.navbar-collapse {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.navbar-collapse li {
    margin: 1.5rem 0;
   
}

.navbar-collapse a{
    font-size: 0.9em;
    color: var(--very-dark-blue);
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

.navbar-last-link{
    color: var(--grayish-blue) !important;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-close-menu {
    display: none;
}

.navbar-close-menu.open{
    display: block;
}

.navbar-hamburguer-menu.open{
    display: none;
}
.navbar-collapse {
    display: none;
}

.navbar-collapse.open {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
    width: 100%;
   
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top:70px;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.2);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--grayish-blue);
}

header {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top:90px;
}

header .container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-illustration {
    margin: 30px 0 0 0;
    width: 100%;
    height: 320px;

}

.header-illustration img {
    width: 530px;
    object-fit: contain;
    position: relative;
    left: -25px;
}

.blob {
    width: 80%;
    height: 700px;
    background: var(--light-grayish-blue);
    border-radius: 0 0 60px 60px;
    position: absolute;
    top: -350px;
    right: -30%;
    z-index: -1;
}

.small-head-line {
    margin: 1em 0;
}

.small-head-line span:nth-child(1) {
    color: white;
    background: black;
    font-weight: 700;
    padding: 0.4em 0.7em;
    border-radius: 900px;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.small-head-line span:nth-child(2) {
    color: rgb(185, 185, 185);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: 3.5px;
    font-size: 0.7em;
    margin: 0 0 0 10px;
}

.call-to-action {
    display: flex;
    align-items: center;
    margin: 2.5em 0;
}

.call-to-action-btn {
    font-size: 12px;
    padding: 1.25em 2em;
    background: var(--red-primary);
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}

.call-to-action p {
    font-size: 0.7em;
    margin: 0 0 0 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (min-width: 568px) {
    .header-illustration {
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: center;
    }

    .header-illustration img {
        position: static;

    }

    .header-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .call-to-action{
        justify-content: center;
    }

   
}

@media screen and (min-width: 1024px) {

    :root{
        --h1-fz: 3em;
        --body-text-fs: 1.2em;
    }

    .container{
        width: 80%;
    }

    ul{
        width: 100%;
    }
    
    header{
        min-height: 500px;
        max-height: 700px;
    }
    header .container {
        flex-flow: row;
    }

    .header-content {
        order: 1;
        width: 50%;
        text-align: left;
    }

    .call-to-action{
        justify-content: flex-start;
    }

    .blob{
        top: -500px;
    }

    .header-illustration {
        order: 2;
        width: 60%;
        position: relative;
        right: -20%;
        height: auto;
        margin: 0;
    }

    .header-illustration img {
        width: 150%;
        height: 100%;
    }

    .navbar-hamburguer-menu{
        display: none;
    }

    .navbar-collapse{
        display: flex; 
    }

    .navbar-collapse li {
        margin: 0 1rem ;
        display: inline-block;
    }
    
    .divider{
        width: 6px;
        height: 6px;
        border-radius: 999px;
    }
  

}